.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: ivory;
   text-align: center;
}
.nf {
   background-image: linear-gradient(243deg, #74D2EB 0%, #644ED8 95%);
}
