body {
   margin: auto;
   padding-left: 10px;
}

a {
   color: #5D3696;
}

li {
   font-family: "Nunito Sans", sans-serif;
   color: #5D3696;
   font-size: 14px;
   font-weight: 700;
   padding-bottom: 10px;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: grey;
   color: ivory;
   text-align: center;
}
.nf {
   background-image: linear-gradient(243deg, #74D2EB 0%, #644ED8 95%);
   background-color: linear-gradient(243deg, #74D2EB 0%, #644ED8 95%);
}
